


<div class="row">
  <div class="col-sm-6">
    <h1>Person_snapshots</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_person_snapshot_path, class: 'btn btn-primary' do %>
    Add New Person snapshot
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Meta</th>
            <th>Effective at</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Title</th>
            <th>Manager</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @person_snapshots.each do |person_snapshot| %>
        <%= content_tag :tr, id: dom_id(person_snapshot), class: dom_class(person_snapshot) do %>
          

                      <td><%= person_snapshot.meta_id %></td>
                      <td><%= person_snapshot.effective_at %></td>
                      <td><%= person_snapshot.first_name %></td>
                      <td><%= person_snapshot.last_name %></td>
                      <td><%= person_snapshot.title %></td>
                      <td><%= person_snapshot.manager_id %></td>
          
          
            <td><%= link_to 'Show', person_snapshot %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
